interactions:
- request:
    body: null
    headers:
      API-KEY:
      - 6bd1e15ab9e94bb190074b4209e6b6f9
      Content-Type:
      - application/json
    method: GET
    uri: https://api-testing.mozio.com/v2/search/d1e0c6e8526046d8b73d7ce3c44b5403/poll
  response:
    body:
      string: ''
    headers:
      Content-Language:
      - en-us
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - /v2/search/d1e0c6e8526046d8b73d7ce3c44b5403/poll/
    status:
      code: 301
      message: Moved Permanently
- request:
    body: null
    headers:
      API-KEY:
      - 6bd1e15ab9e94bb190074b4209e6b6f9
    method: GET
    uri: https://api-testing.mozio.com/v2/search/d1e0c6e8526046d8b73d7ce3c44b5403/poll/
  response:
    body:
      string: '{"num_passengers":2,"pickup_datetime":"2023-12-01T15:30:00-08:00","flight_datetime":null,"include_platform_fee":false,"include_target_pricing":true,"go_corp_id":null,"search_id":"d1e0c6e8526046d8b73d7ce3c44b5403","results":[{"result_id":"0065652958e49ffe698cca03fdf8c9e4","vehicle_id":"1ea1f4adb9742eef61e052eabbef7e19","total_price":{"total_price":{"value":"211.73","display":"$211.73","compact":"$212"},"total_price_without_platform_fee":null,"platform_fee":null,"total_price_without_partner_fee":null,"partner_fee":null,"slashed_price":null},"tags":[],"steps":[{"main":true,"step_type":"car","details":{"description":"Business
        Class Lincoln, Cadillac or Similar","vehicle":{"image":"https://sandbox.bookalimo.com/cdn/images/car/42/128.png","vehicle_type":{"key":3,"name":"Sedan"},"max_bags":3,"is_max_bags_per_person":false,"max_passengers":3,"category":{"id":2,"name":"Standard"},"num_vehicles":1,"total_bags":3,"model":"XTS","make":"Cadillac","vehicle_class":2,"vehicle_class_detail":{"display_name":"Business","vehicle_class_id":2}},"maximum_pickup_time_buffer":null,"time":20,"provider":{"name":"ICS,
        Book A Limo","display_name":"ICS, Book A Limo","logo_url":"https://static.mozio.com/providers/logos/defaults/blackcar_logo.png","rating":5,"rating_count":1,"rating_with_decimals":"5.0","supplier_score":null},"provider_name":"ICS,
        Book A Limo","price":{"price":{"value":"211.73","display":"$211.73","compact":"$212"},"tolls_included":true,"gratuity_included":true,"gratuity_accepted":true},"departure_datetime":"2023-12-01T15:30:00-08:00","cancellation":{"cancellable_online":true,"cancellable_offline":true,"amendable":true,"policy":[{"notice":48,"refund_percent":100}]},"wait_time":{"minutes_included":30,"waiting_minute_price":null},"amenities":[],"ticket_types":[],"alternative_times":{"default_index":0,"options":[{"departure_datetime":"2023-12-01T15:30:00-08:00","arrival_datetime":"2023-12-01T15:49:32-08:00"}]},"flight_info_required":true,"extra_pax_required":false,"notes":"","terms_url":"","are_terms_internal":false,"bookable":true,"start_address_incomplete":false,"end_address_incomplete":false,"is_cached":false,"hide_options":false,"special_instructions_placeholder":"","service_instructions":{},"hourly_details":{"original_requested":0,"hours_requested":0,"minimum":0,"included_kilometers_per_hour":0,"total_included_kilometers":0}}}],"loyalty":null,"supports":{"snapping":false,"tracking":false,"coupon":true,"vehicle_and_driver":false,"buffer_time":false},"flt_support":false,"good_to_know_info":"*
        You will receive comprehensive pickup instructions in your confirmation email\n*
        You can make changes or cancel your ride at any time up to 48 hours before
        your scheduled pickup\n* Our Customer Support team is available 24/7 to assist
        you with any queries or concerns"},{"result_id":"7ae6d10b40e68c04f88bec969bc11364","vehicle_id":"99582966ae0384ed758a319a6c5cc6e3","total_price":{"total_price":{"value":"405.57","display":"$405.57","compact":"$406"},"total_price_w[...]
