interactions:
- request:
    body: '{"search_id": "187003663b8f4a5ca7c079e6df057cd3", "result_id": "0065652958e49ffe698cca03fdf8c9e4",
      "email": "pytest@gmail.com", "country_code_name": "US", "phone_number": "8776665544",
      "first_name": "John", "last_name": "Doe", "airline": "AA", "flight_number":
      "123", "customer_special_instructions": "I am from VCR testing"}'
    headers:
      API-KEY:
      - 6bd1e15ab9e94bb190074b4209e6b6f9
      Content-Type:
      - application/json
    method: POST
    uri: https://api-testing.mozio.com/v2/reservations/
  response:
    body:
      string: '{"status":"pending","reservations":[]}'
    headers:
      Allow:
      - GET, POST, HEAD, OPTIONS
      Content-Language:
      - en-us
      Content-Type:
      - application/json
    status:
      code: 201
      message: Created
version: 1
